<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">

      <!--1.扫描service下的包-->
      <context:component-scan base-package="service"/>
      <!--2.将所有Service业务类，注入到Spring，可以通过配置、或者注解实现,这里设置service的bean-->
      <bean id="UserServiceImpl" class="service.UserServiceImpl">
            <property name="userMapper" ref="userMapper"/>
      </bean>
      <bean id="PlatformServiceImpl" class="service.PlatformServiceImpl">
            <property name="platformMapper" ref="platformMapper"/>
      </bean>
      <bean id="CartypeServiceImpl" class="service.CartypeServiceImpl">
            <property name="cartypeMapper" ref="cartypeMapper"/>
      </bean>
      <bean id="IB1_BasicServiceImpl" class="service.IB1_BasicServiceImpl">
            <!--<这里好像有问题，IB1_BasicMapper首字母为何不小写"/>-->
            <property name="iB1_BasicMapper" ref="IB1_BasicMapper"/>
      </bean>
      <bean id="IB1_DOC_INFO_CONTACTSServiceImpl" class="service.IB1_DOC_INFO_CONTACTSServiceImpl">
          <property name="iB1_DOC_INFO_CONTACTSMapper" ref="IB1_DOC_INFO_CONTACTSMapper"/>
      </bean>
      <bean id="IB1_DOC_INFO_DOC_REVISIONSServiceImpl" class="service.IB1_DOC_INFO_DOC_REVISIONSServiceImpl">
            <property name="iB1_DOC_INFO_DOC_REVISIONSMapper" ref="IB1_DOC_INFO_DOC_REVISIONSMapper"/>
      </bean>

      <bean id="IB1_IB_DESCRIPTION_IB_VARIANTSServiceImpl" class="service.IB1_IB_DESCRIPTION_IB_VARIANTSServiceImpl">
            <property name="iB1_IB_DESCRIPTION_IB_VARIANTSMapper" ref="IB1_IB_DESCRIPTION_IB_VARIANTSMapper"/>
      </bean>
      <bean id="IB1_IB_DESCRIPTION_OBJECTIVESServiceImpl" class="service.IB1_IB_DESCRIPTION_OBJECTIVESServiceImpl">
            <property name="iB1_IB_DESCRIPTION_OBJECTIVESMapper" ref="IB1_IB_DESCRIPTION_OBJECTIVESMapper"/>
      </bean>
      <bean id="IB1_IB_DESCRIPTION_IBNZServiceImpl" class="service.IB1_IB_DESCRIPTION_IBNZServiceImpl">
            <property name="iB1_IB_DESCRIPTION_IBNZMapper" ref="IB1_IB_DESCRIPTION_IBNZMapper"/>
      </bean>
      <bean id="IB1_IB_DESCRIPTION_SLAVEServiceImpl" class="service.IB1_IB_DESCRIPTION_SLAVEServiceImpl">
            <property name="iB1_IB_DESCRIPTION_SLAVEMapper" ref="IB1_IB_DESCRIPTION_SLAVEMapper"/>
      </bean>

      <bean id="IB1_ENVIRONMENT_PRE_CONDITIONS_PRE_CONDITIONServiceImpl" class="service.IB1_ENVIRONMENT_PRE_CONDITIONS_PRE_CONDITIONServiceImpl">
            <property name="iB1_ENVIRONMENT_PRE_CONDITIONS_PRE_CONDITIONMapper" ref="IB1_ENVIRONMENT_PRE_CONDITIONS_PRE_CONDITIONMapper"/>
      </bean>
      <bean id="IB1_ENVIRONMENT_DEPENDENCIES_DEPENDENCYServiceImpl" class="service.IB1_ENVIRONMENT_DEPENDENCIES_DEPENDENCYServiceImpl">
            <property name="iB1_ENVIRONMENT_DEPENDENCIES_DEPENDENCYMapper" ref="IB1_ENVIRONMENT_DEPENDENCIES_DEPENDENCYMapper"/>
      </bean>
      <bean id="IB1_ENVIRONMENT_ACCESS_AUTHORISATIONS_ACCESS_AUTHORISATIONServiceImpl" class="service.IB1_ENVIRONMENT_ACCESS_AUTHORISATIONS_ACCESS_AUTHORISATIONServiceImpl">
            <property name="iB1_ENVIRONMENT_ACCESS_AUTHORISATIONS_ACCESS_AUTHORISATIONMapper" ref="IB1_ENVIRONMENT_ACCESS_AUTHORISATIONS_ACCESS_AUTHORISATIONMapper"/>
      </bean>
      <bean id="IB1_ENVIRONMENT_PRODUCTION_MODES_PRODUCTION_MODEServiceImpl" class="service.IB1_ENVIRONMENT_PRODUCTION_MODES_PRODUCTION_MODEServiceImpl">
            <property name="iB1_ENVIRONMENT_PRODUCTION_MODES_PRODUCTION_MODEMapper" ref="IB1_ENVIRONMENT_PRODUCTION_MODES_PRODUCTION_MODEMapper"/>
      </bean>
      <bean id="IB1_ENVIRONMENT_TRANSPORT_MODEServiceImpl" class="service.IB1_ENVIRONMENT_TRANSPORT_MODEServiceImpl">
            <property name="iB1_ENVIRONMENT_TRANSPORT_MODEMapper" ref="IB1_ENVIRONMENT_TRANSPORT_MODEMapper"/>
      </bean>









      <!--3.声明式事务配置-->
      <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <!--注入数据源-->
            <property name="dataSource" ref="dataSource"/>
      </bean>
      <!--4.AOP事务支持-->
    <!--结合AOP实现事务的植入-->
    <!--配置事务通知：-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!--给哪些方法配置事务-->
        <tx:attributes>
            <tx:method name="add" propagation="REQUIRED"/><!--配置事务的传播特性:默认是propagation="REQUIRED"-->
            <tx:method name="delete" propagation="REQUIRED"/>
            <tx:method name="update" propagation="REQUIRED"/>
            <tx:method name="query" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!--配置事务切入AOP-->
    <aop:config>
        <aop:pointcut id="txPointCut" expression="execution(* dao.*.*(..))"/><!--*后面要有空格！  *.*表示：下面的所有类所有方法,(..)表示：参数-->

        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>
</beans>